h1 {
    font-family: Arial, 'Helvetica Neue' , Helvetica, sans-serif; font-size: 34px;
    font-style: bold;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

img {
    border-radius: 8px;
    /* filter: grayscale(100%); */
}