.red-circle {
    fill: none;
    stroke: red;
    stroke-width: 2;
}

.line {
    stroke: #333333;
    stroke-width: 24;
    stroke-linecap: round;
}

#ray {
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
}